@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-green-color: #0C3D3D;
    --green: #46DE46;
}

main {
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: arialfont;
    src: url('../fonts/arial.ttf');
}

@font-face {
    font-family: Arialnfont;
    src: url('../fonts/Arialn.ttf');
}


.banner-img {
    width: 100%;
    height: 100vh;
    background: url("../images/banner-img.webp");
    background-size: cover;
    background-position: center;
}

.banner-heading {
    font-family: myThriedFonts;
}

.banner-right-part {
    height: 100%;
}


.research-section {
    padding: 30px;
    font-family: arialfont;
}

.research-img {
    width: 350px;
}

#research-text {
    font-size: 3rem;
}

.research-para {
    font-size: 18px;
}

/***** custom card start here   *****/
.custom-card {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    min-height: 120px;
    transition: all 0.5s;
}

.custom-card:hover {
    transition: all 0.6s;
    background-color: var(--light-green-color);
    cursor: pointer;
    color: #fff;
}

.custom-card h5 {
    font-weight: bold;
}

/* ======clinnicl-trial-results-section start here ======= */
.clinnicl-trial-results-section{
    font-family: Arial, Helvetica, sans-serif;
}
.cricle-img {
    width: 500px;
}

.info-box {
    background-color: var(--light-green-color);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;

}

.info-box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* ======clinnicl-trial-results-section end here ======= */

/* ============Observational-study-section start here ============= */
.bg-grren-text {
    background-color: var(--green);
    margin-top: 30px !important
}

.percentage-text {
    font-size: 5rem;
}

/* ============Observational-study-section end here ============= */
/* ============user section start here ========== */
.user-section {
    background-color: #F6F5F1;
    padding-top: 60px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;


}

.quote-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 106px;
}

.quote-section p {
    font-size: 22px;
    font-weight: 400;

}


.user-image {
    width: 400px;
}

/* ============user section end here ========== */